.clearfix:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.clearfix {
  display:inline-block;
}
html[xmlns] .clearfix {
  display:block;
}
* html .clearfix {
  height:1%;
}
html { 
  width:100%; 
  height:100%; 
  position:relative; 
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  padding-top:70px;
  padding-bottom: 20px;
}
body { 
  width:100%; 
  height:100%; 
  position:relative;
}
h1, p {
  color: #333;
}
h2 {
  text-align: center;
}
p {
  margin: 0 0 6px;
  padding-top: 4px;
}
li.done {
  color: gray;
  text-decoration: line-through;
}
.right {
  float: right;
}
ul.well {
  margin-top: 10px;
  background: white;
}
input[type="text"] {
  height: 30px;
  width: 192px;
  padding-left: 5px;
}
/* Editor */
#editor-convolution,
#editor-deconvolution,
#editor-sequence,
#editor-fourier,
#editor-filter {
  height: 525px;
  padding: 10px;
}
/* Horizontal Slider */
#content {
  min-height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  margin-top: 6px;
}
#content .page {
  width:78%;
  min-height: 100%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position:absolute;
}
#content .active {
  position:relative;
  margin:0 6%;
  left:5%;
}
#content .next,
#content .previous {
  top:0;
  background-color: #EFF0F1;
  cursor:pointer;
  border-radius: 10px;
}
#content .next-next,
#content .previous-previous,
#content .next-l,
#content .next-next-l,
#content .previous-previous-r,
#content .previous-r {
  top: 0;
  background-color: #EFF0F1;
}
#content .next {
  left: 95%;
}
#content .previous {
  left: -73%;
}
#content .next-next {
  left: 200%;
}
#content .previous-previous {
  left: -173%;
}
#content .next-l {
  left: -373%;
}
#content .next-next-l {
  left: -273%;
}
#content .previous-r {
  left: 400%;
}
#content .previous-previous-r {
  left: 300%;
}
/* experimental */
/* To Active */
@-webkit-keyframes toActive {
  to {
    left: 5%;
    margin-right: 6%;
    margin-left: 6%;
    background-color: #FFF;
  }
}
.to-active {
  -webkit-animation: toActive 1s ease-in-out;
}
/* To Next */
@-webkit-keyframes toNext {
  to {
    left: 95%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
    border-radius: 10px;
  }
}
.to-next {
  -webkit-animation: toNext 1s ease-in-out;
}
/* To Prev */
@-webkit-keyframes toPrev {
  to {
    left: -73%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
    border-radius: 10px;
  }
}
.to-previous {
  -webkit-animation: toPrev 1s ease-in-out;
}
/* To Prev-Prev */
@-webkit-keyframes toPrevPrev {
  to {
    left: -173%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
  }
}
.to-previous-previous {
  -webkit-animation: toPrevPrev 1s ease-in-out;
}
/* To Next-Next */
@-webkit-keyframes toNextNext {
  to {
    left: 200%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
  }
}
.to-next-next {
  -webkit-animation: toNextNext 1s ease-in-out;
}
/* To Next-L */
@-webkit-keyframes toNextL {
  to {
    left: -373%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
  }
}
.to-next-l {
  -webkit-animation: toNextL 1s ease-in-out;
}
/* To Next-Next-L */
@-webkit-keyframes toNextNextL {
  to {
    left: -273%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
  }
}
.to-next-next-l {
  -webkit-animation: toNextNextL 1s ease-in-out;
}
/* To Previous-Previous-R */
@-webkit-keyframes toPrevPrevR {
  to {
    left: 300%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
  }
}
.to-previous-previous-r {
  -webkit-animation: toPrevPrevR 1s ease-in-out;
}
/* To Previous-R */
@-webkit-keyframes toPrevR {
  to {
    left: 400%;
    margin-right: 0;
    margin-left: 0;
    background-color: #EFF0F1;
  }
}
.to-previous-r {
  -webkit-animation: toPrevR 1s ease-in-out;
}